@page
@model TimeManager.Backend.Pages.App.Role.IndexModel
@{
    Layout = "_ListWrapper";
    ViewData["Title"] = "Role";

    List<string> Headers = ["Name", "Description"];
    ViewData["Headers"] = Headers;
    ViewData["ModuleTitle"] = "Role";
    ViewData["ModuleDesc"] = "Manage the roles in the system";
    ViewData["CreateUrl"] = "role/add";
}

@if (Model.Roles.Count() <= 0)
{
    <tr>
        <td colspan="@Headers.Count"
            class="table-empty-cell">
            No data available
        </td>
    </tr>
}
else
{
    foreach (var d in Model.Roles)
    {
        <tr class="table-row">
            <td class="table-cell">@d.Name</td>
            <td class="table-cell table-desc">@d.Description</td>
        </tr>
    }
}