@{
    Layout = "_MainLayout";
}

<head>
    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)
</head>
<main class="layout-main">
    @await Html.PartialAsync("Sidenav")
    <div class="layout-section">
        <header class="header">
            <button class="menu-btn" onclick="sidebarToggle()"><i class="ri-menu-line"></i></button>
            <form asp-controller="Auth" asp-action="Logout" method="post">
                @await Html.PartialAsync("Button", new TimeManager.Backend.ViewModels.PartialViews.ButtonViewModel
                {
                    Id = "",
                    Classes = "btn-logout",
                    Text = "Logout",
                    Type = "submit"
                })
            </form>
        </header>
        <section class="main-section" id="main-content" tabindex="-1" role="main">
            @RenderBody()
        </section>
    </div>
</main>

<div class="modal-overlay">
    <div class="modal-wrapper">
        @await RenderSectionAsync("modalcontent", required: false)
    </div>
</div>
@await Html.PartialAsync("NotificationToast")

<script src="~/js/sidebartoggle.js"></script>
<script src="~/js/notification.js"></script>
<script src="~/js/modal.js"></script>
