@model TimeManager.Backend.ViewModels.ChangePasswordModel;

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Settings";
}

<style>
    .section-header {
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 16px;
        margin-bottom: 24px;
    }

    form > * {
        margin-block-end: 1em;
    }
</style>

<main class="content-area">
    <section class="settings-section">
        <div class="section-header">
            <h2 class="section-title">Change password</h2>
        </div>

        <form asp-controller="Setting" asp-action="ChangePassword" method="post">
            <custom-input asp-for="OldPassword" helperText="Forgot old password? Please contact administration to change it." />
            <custom-input asp-for="NewPassword" />
            <custom-input asp-for="ConfirmPassword" helperText="Make sure it's at least 8 characters including a number, a special character and an upppercase letter." />
            <button type="submit" class="btn btn-primary">Update password</button>
        </form>
    </section>
</main>

@section scripts {
    <script src="/js/passwordtoggle.js" defer></script>
}