@using TimeManager.Backend.ViewModels.PartialViews
@using TimeManager.Backend.ViewModels
@model IEnumerable<KioskViewModel>

@{
    Layout = "_ListWrapper";
    ViewData["Title"] = "Kiosk";

    List<string> Headers = ["Name", "Allowed Ip Address", "Department"];
    ViewData["Headers"] = Headers;
    ViewData["ModuleTitle"] = "Kiosk";
    ViewData["ModuleDesc"] = "Manage the kiosk data in the system";
    ViewData["Controller"] = "Kiosk";
}

@if (Model.Count() <= 0)
{
    <tr>
        <td colspan="@Headers.Count"
            class="table-empty-cell">
            No data available
        </td>
    </tr>
}
else
{
    foreach (var d in Model)
    {
        <tr class="table-row">
            <sn-cell counter-name="Kiosk" start="0" />
            <td class="table-cell">@d.Name</td>
            <td class="table-cell">@d.AllowedIPAddress</td>
            <td class="table-cell">@d.DepartmentName</td>
            @await Html.PartialAsync("ActionTd", new ActionTdViewModel
{
        Controller = "Kiosk",
        Id = d.Id,
})
        </tr>
    }
}