@model TimeManager.Backend.ViewModels.RegisterViewModel

@{
    Layout = "_FormWrapper";
    ViewData["Title"] = "User - Edit";
    ViewData["ModuleTitle"] = "Edit User";
    ViewData["ModuleSubtitle"] = "Update user data";
    ViewData["Controller"] = "User";
}

<form asp-controller="User" asp-action="Edit" method="post" asp-route-id="@Model.Id">
    @Html.AntiForgeryToken()
    
    <custom-input asp-for="Email" />
    <custom-select asp-for="Role" asp-items="@Model.AvailableRoles" />
    <custom-input asp-for="Password" />
    <custom-input asp-for="ConfirmPassword" />

    <button type="submit" class="btn btn-primary">Submit</button>
</form>