@using TimeManager.Backend.ViewModels.PartialViews
@using TimeManager.Backend.Models.Responses
@using TimeManager.Backend.ViewModels
@model PagedResponse<UserViewModel>

@{
    Layout = "_ListWrapper";
    ViewData["Title"] = "User";

    List<string> Headers = ["Name", "Email",];
    ViewData["Headers"] = Headers;
    ViewData["ModuleTitle"] = "User";
    ViewData["ModuleDesc"] = "Manage the users in the system";
    ViewData["Controller"] = "User";

    ViewData["HasPagination"] = true;
    ViewData["OrderingKeys"] = Headers;
    ViewData["TotalPages"] = Model.TotalPages;
    ViewData["TotalRecords"] = Model.TotalRecords;

    int offset = (Model.PageNumber - 1) * Model.PageSize;
}

@section CustomCreate {
    <button class="btn-create btn-modal">Bulk create</button>
}

@section modalcontent {
    <partial name="BulkCreateForm"
             model='new BulkCreateModel() {
                Controller = "User",
                 ExampleFileName = "timemanager_user_bulk_import_example.xlsx"
             }' 
      />
}

@if (Model.Data.Count() <= 0)
{
    <tr>
        <td colspan="@Headers.Count"
            class="table-empty-cell">
            No data available
        </td>
    </tr>
}
else
{
    foreach (var d in Model.Data)
    {
        <tr class="table-row">
            <sn-cell counter-name="Users" start="@offset" />
            <td class="table-cell">@d.UserName</td>
            <td class="table-cell">@d.Email</td>
            @await Html.PartialAsync("ActionTd", new ActionTdViewModel
            {
                Controller = "User",
                Id = d.Id,
            })
        </tr>
    }
}