@page "/app/department"

@inject HttpClient Http

@using TimeManager.Frontend.Components.Pages.Admin._Components
@using TimeManager.Frontend.Components.Wrapper

<PageTitle>Department</PageTitle>

<ListWrapper 
    Title="Department"
    Headers="@departments"
    Subtitle="Manage the Departments"
    CreateUrl="/app/department/create"
    isEmpty="isEmpty"
>
    @foreach (var data in departmentModels)
    {
        var currentId = data.Id;
        <tr class="table-row">
            <td class="table-cell">@data.Name</td>
            <td class="table-cell table-cell-desc">@data.Description</td>
            <ActionTD Url="@($"/app/department/edit/{data.Id}")"          />
        </tr>
    }
    </ListWrapper>

@code {
    private string[] departments { get; set; } = ["Name", "Description"];
    private DepartmentModel[] departmentModels = [];

    protected override async Task OnInitializedAsync()
    {
        try
        {
            departmentModels = await Http.GetFromJsonAsync<DepartmentModel[]>("api/department");
        } catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    private bool isEmpty => departmentModels.Length == 0;
}
