SeedSettings__SuperAdminEmail=emial-for-super-admin
SeedSettings__SuperAdminPassword=password-for-super-admin

Jwt_Issuer=jwt-issuer
Jwt_Audience=jwt-audience
Jwt_Key=jwt-secret-key

Auth__DefaultPassword=default-password-for-users
Auth__SuperAdminRole=super-admin-role

ConnectionStrings__SQLConnectionString="your-ms-sql-server-connection-string"
ConnectionStrings__DefaultConnection="Server=localhost;Port=3306;Database=your-db-name;User=your-db-user;Password=your-password;"