SeedSettings__SuperAdminEmail="emial-for-super-admin"
SeedSettings__SuperAdminPassword="password-for-super-admin"

Jwt__Issuer="your-app-name"
Jwt__Audience="your-audience"
Jwt__KioskAudience="kiosk-audience"
Jwt__KioskSecret="random-32-character-string-for-secret"
Jwt__KioskExpiryHours="time-in-hours"

Auth__DefaultPassword="default-password-for-users"
Auth__SuperAdminRole="super-admin-role"

ConnectionStrings__SQLConnectionString="your-ms-sql-server-connection-string"