@model TimeManager.Backend.ViewModels.PayFrequencyViewModel

@{
    Layout = "_FormWrapper";
    ViewData["Title"] = "Pay Frequency - Add";
    ViewData["ModuleTitle"] = "Create Pay Frequency";
    ViewData["ModuleSubtitle"] = "Add new pay frequency";
    ViewData["Controller"] = "PayFrequency";
}

<form asp-controller="PayFrequency" asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <custom-input asp-for="Name" classes="grid-col-2" />
    <custom-input asp-for="Description" classes="grid-col-2" />

    <button type="submit" class="btn btn-primary">Submit</button>
</form>