@model TimeManager.Backend.ViewModels.PayFrequencyViewModel

@{
    Layout = "_FormWrapper";
    ViewData["Title"] = "Pay Frequency - Edit";
    ViewData["ModuleTitle"] = "Edit Pay Frequency";
    ViewData["ModuleSubtitle"] = "Update pay frequency";
    ViewData["Controller"] = "PayFrequency";
}

<form asp-controller="PayFrequency" asp-action="Edit" method="post" asp-route-id="@Model.Id">
    @Html.AntiForgeryToken()
    
    <custom-input asp-for="Name" />
    <custom-input asp-for="Description" />

    <button type="submit" class="btn btn-primary">Submit</button>
</form>