@using TimeManager.Backend.Models.Components
@using TimeManager.Backend.ViewModels
@model IEnumerable<PayFrequencyViewModel>

@{
    Layout = "_ListWrapper";
    ViewData["Title"] = "Pay Frequency";

    List<string> Headers = ["Name", "Description"];
    ViewData["Headers"] = Headers;
    ViewData["ModuleTitle"] = "Pay Frequency";
    ViewData["ModuleDesc"] = "Manage the pay frequencies in the system";
    ViewData["Controller"] = "PayFrequency";
}

@if (Model.Count() <= 0)
{
    <tr>
        <td colspan="@Headers.Count"
            class="table-empty-cell">
            No data available
        </td>
    </tr>
}
else
{
    foreach (var d in Model)
    {
        <tr class="table-row">
            <td class="table-cell">@d.Name</td>
            <td class="table-cell table-desc">@d.Description</td>
            @await Html.PartialAsync("ActionTd", new ActionTdViewModel
{
        Controller = "PayFrequency",
        Id = d.Id,
        hasEdit = true,
        hasDelete = true,
})
        </tr>
    }
}