@{
    Layout = "_FormWrapper";
    ViewData["Title"] = "Department - Add";
    ViewData["ModuleTitle"] = "Create Department";
    ViewData["ModuleSubtitle"] = "Add new department";
}

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <partial name="_DepartmentFormFields" model="Model" />

    <button type="submit" class="btn btn-primary">Submit</button>
</form>