.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #e5e7eb;
}

.form-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 800;
    letter-spacing: -0.025em;
    color: #111827;
}

.form-subtitle {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #4b5563;
}

.form-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 28rem;
}

.form-wrapper.mt-8 {
    margin-top: 2rem;
}

.form-card {
    background-color: #ffffff;
    padding-top: 2rem; 
    padding-bottom: 2rem; 
    padding-left: 1rem; 
    padding-right: 1rem; 
    border: 1px solid #f3f4f6;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.btn-login {
    width: 100%;
    padding-block: .75em;
}

.error-alert {
    background-color: #fef2f2;
    border-left: 4px solid #f87171;
    padding: 1rem; 
    border-radius: 0.25rem; 
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #b91c1c;
}

.error-alert > ul {
    list-style: none;
    padding: 0;
}

.btn-submit {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-size: 0.875rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #000000;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #030712;
}

.btn-submit:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #000000, 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.btn-submit:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

@media (min-width: 640px) {
    .form-card {
        border-radius: 0.75rem; 
        padding-left: 2.5rem; 
        padding-right: 2.5rem; 
    }
}
