@page "/app/kiosk"

@inject HttpClient Http

@using TimeManager.Frontend.Components.Shared
@using TimeManager.Frontend.Components.Wrapper

<PageTitle>Kiosk</PageTitle>

<ListWrapper 
    Title="Kiosk"
    Subtitle="Manage the devices"
    Headers="@headers"
    isEmpty="isEmpty"
    CreateUrl="/app/kiosk/create"
  >  
    @foreach(var d in devices)
    {
        <tr>
            <td class="px-6 py-4">@d.Name</td>
            <td class="px-6 py-4">@d.AllowedIPAddress</td>
            <td class="px-6 py-4">@d.Department?.Name</td>
            <td class="px-6 py-4 flex items-center gap-2">
                <Button 
                        Type="button"
                        Classes="bg-red-500 text-white rounded-md w-fit" >
                        <i class="ri-delete-bin-7-line"></i>
                        </Button>
                <Button 
                    Type="button"
                    Classes="bg-blue-500 text-white rounded-md w-fit"
                   
                    >
                    <i class="ri-edit-line"></i>
                    </Button>
            </td>
        </tr>
    }
    </ListWrapper>

@code {
    private string[] headers { get; set; } = ["Name", "Allowed IP Address",  "Department"];
    private DeviceModel[] devices = [];

    protected override async Task OnInitializedAsync()
    {
        try
        {
            devices = await Http.GetFromJsonAsync<DeviceModel[]>("api/kiosk");
        } catch(Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    private bool isEmpty => devices.Length == 0;
}

