@model TimeManager.Backend.ViewModels.UnitViewModel

@{
    Layout = "_FormWrapper";
    ViewData["Title"] = "Unit - Add";
    ViewData["ModuleTitle"] = "Create Unit";
    ViewData["ModuleSubtitle"] = "Add new unit";
    ViewData["Controller"] = "Unit";
}

<form asp-controller="Unit" asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <custom-input asp-for="Name" />
    <custom-input asp-for="Index" />
    <custom-input asp-for="Description" classes="grid-col-2" />

    @if (User.IsInRole("SuperAdmin"))
        {
            <custom-select asp-for="DepartmentId" asp-items="@Model.Departments" classes="grid-col-2" />
        }

    <button type="submit" class="btn btn-primary">Submit</button>
</form>