@using TimeManager.Backend.Models.Components
@using TimeManager.Backend.Models.Responses
@using TimeManager.Backend.ViewModels
@model PagedResponse<JobProfileViewModel>

@{
    Layout = "_ListWrapper";
    ViewData["Title"] = "Job Profile";

    List<string> Headers = ["Employee", "Profile Template"];
    List<string> OrderingKeys = ["Employee"];
    ViewData["Headers"] = Headers;
    ViewData["ModuleTitle"] = "Job Profile";
    ViewData["ModuleDesc"] = "Manage job profiles in the department";
    ViewData["Controller"] = "JobProfile";

    ViewData["HasPagination"] = true;
    ViewData["OrderingKeys"] = OrderingKeys;
    ViewData["TotalPages"] = Model.TotalPages;
    ViewData["TotalRecords"] = Model.TotalRecords;
}

@section CustomCreate {
    <button class="btn-create btn-modal">Bulk Create</button>
}

@section modalcontent {
    <partial name="_BulkCreateForm" 
             model='new BulkCreateModel() { 
                Controller = "JobProfile", 
                ExampleFileName = "timemanager_jobprofile_bulk_import_example.xlsx" }' 
           />
}

@if (Model.Data.Count() <= 0)
{
    <tr>
        <td colspan="@Headers.Count"
            class="table-empty-cell">
            No data available
        </td>
    </tr>
}
else
{
    foreach (var d in Model.Data)
    {
        <tr class="table-row">
            <td class="table-cell">@d.EmployeeString</td>
            <td class="table-cell">@d.ProfileTemplateString</td>
            @await Html.PartialAsync("ActionTd", new ActionTdViewModel
            {
                Controller = "JobProfile",
                Id = d.Id,
            })
        </tr>
    }
}