@model TimeManager.Backend.ViewModels.EmployeeData
@using TimeManager.Backend.Common

@{
    Layout = "_FormWrapper";
    ViewData["Title"] = "Employee - Add";
    ViewData["ModuleTitle"] = "Create Employee";
    ViewData["ModuleSubtitle"] = "Add new department";
    ViewData["Controller"] = "Employee";
}

<form asp-controller="Employee" asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <custom-input asp-for="EmployeeView.FirstName" />
    <custom-input asp-for="EmployeeView.LastName" />
    <custom-input asp-for="EmployeeView.UniqueId" />
    <custom-select asp-for="UserId" asp-items="@Model.Users" />
    @if (User.IsInRole(AppConstants.SUPER_ADMIN_ROLE))
        {
            <custom-select asp-for="DepartmentId" asp-items="@Model.Departments" placeholder="-- Department --" />
        }

    <button type="submit" class="btn btn-primary">Submit</button>
</form>