@model TimeManager.Backend.ViewModels.EmployeeData

@{
    Layout = "_FormWrapper";
    ViewData["Title"] = "Employee - Edit";
    ViewData["ModuleTitle"] = "Edit Employee";
    ViewData["ModuleSubtitle"] = "Update employee data";
    ViewData["Controller"] = "Employee";
}

<form asp-controller="Employee" asp-action="Edit" method="post" asp-route-id="@Model.EmployeeView.Id">
    @Html.AntiForgeryToken()
    
    <custom-input asp-for="EmployeeView.FirstName" />
    <custom-input asp-for="EmployeeView.LastName" />
    <custom-input asp-for="EmployeeView.UniqueId" />
    <custom-select asp-for="UserId" asp-items="@Model.Users" />

    @if (User.IsInRole("SuperAdmin"))
        { 
            <custom-select asp-for="DepartmentId" asp-items="@Model.Departments" />
        }

    <button type="submit" class="btn btn-primary">Submit</button>
</form>