@model TimeManager.Backend.ViewModels.EmployeeViewModel

@{
    Layout = "_FormWrapper";
    ViewData["Title"] = "Employee - Edit";
    ViewData["ModuleTitle"] = "Edit Employee";
    ViewData["ModuleSubtitle"] = "Update employee data";
    ViewData["Controller"] = "Employee";
}

<form asp-controller="Employee" asp-action="Edit" method="post" asp-route-id="@Model.Id">
    @Html.AntiForgeryToken()
    
    <custom-input asp-for="FirstName" />
    <custom-input asp-for="LastName" />
    <custom-input asp-for="Email" />
    <custom-input asp-for="UniqueId" />

    <button type="submit" class="btn btn-primary">Submit</button>
</form>