<aside class="sidebar">
    <div>
        <div class="sidebar-brand-container">
            <div class="sidebar-logo">Ω</div>
            <span class="sidebar-title">Time Clock</span>
        </div>
        <nav class="sidebar-nav-container">
            @* <div>
                <ul class="space-y-1">
                    <li>
                        <SidebarNav 
                            Text="Dashboard"
                            Url="/app/dashboard"
                            IconClass="ri-layout-grid-line"
                            />
                    </li>
                </ul>
            </div> *@
            
             @* Crud for all the tables in the database for testing *@
            <div>
                <span class="sidebar-group-label">Time Track</span>
                <ul class="sidebar-nav-list">
                    <li>
                        <SidebarNav Text="Department"
                                    Url="/app/department"
                                    IconClass="ri-time-line" />
                    </li>
                    <li>
                        <SidebarNav Text="Unit"
                                    Url="/app/unit"
                                    IconClass="ri-list-check" />
                    </li>

                    <li>
                        <SidebarNav Text="Kiosk"
                                    Url="/app/kiosk"
                                    IconClass="ri-time-line" />
                    </li>
                    <li>
                        <SidebarNav Text="Employee"
                                    Url="/app/employee"
                                    IconClass="ri-list-check" />
                    </li>

                    <li>
                        <SidebarNav Text="Employee Type"
                                    Url="/app/employee-type"
                                    IconClass="ri-time-line" />
                    </li>
                    <li>
                        <SidebarNav Text="Pay Frequency"
                                    Url="/app/pay-frequency"
                                    IconClass="ri-list-check" />
                    </li>

                    <li>
                        <SidebarNav Text="Role"
                                    Url="/app/role"
                                    IconClass="ri-time-line" />
                    </li>
                    <li>
                        <SidebarNav Text="Profile Template"
                                    Url="/app/profile-template"
                                    IconClass="ri-list-check" />
                    </li>

                    <li>
                        <SidebarNav Text="Job Profile"
                                    Url="/app/job-profile"
                                    IconClass="ri-time-line" />
                    </li>
                    <li>
                        <SidebarNav Text="Pay Period"
                                    Url="/app/pay-period"
                                    IconClass="ri-list-check" />
                    </li>
                </ul>
            </div>

            @* @if (request.role.name != "Manager") *@
            <div>
                <span class="sidebar-group-label">Time Track</span>
                <ul class="sidebar-nav-list">
                    <li>
                        <SidebarNav Text="Clock in / out"
                                    Url="/app/clock-in-out"
                                    IconClass="ri-time-line" />
                    </li>
                    <li>
                        <SidebarNav Text="Time off requests"
                                    Url="/app/timeoff-request"
                                    IconClass="ri-list-check" />
                    </li>
                </ul>
            </div>
            @* {% endif %} *@
            @* {% if request.role.name == "Manager" %} *@
            <div>
                <span class="sidebar-group-label">Management</span>
                <ul class="sidebar-nav-list">
                    <li>
                        <SidebarNav Text="Punch Report"
                                    Url="/app/punch-report"
                                    IconClass="ri-file-chart-line" />
                    </li>
                    <li>
                        <SidebarNav Text="Schedule"
                                    Url="/app/scheduler"
                                    IconClass="ri-calendar-line" />
                    </li>
                </ul>
            </div>
            @* {% endif %} *@
        </nav>
    </div>
</aside>

@code {

}
