@inject NavigationManager Navigation

<a href="@Url" class="sidebar-link @(IsActive ? "is-active" : "")">
    <i class="@IconClass sidebar-link-icon"></i>
    <span>@Text</span>
</a>

@functions {
    [Parameter] public required string Url { get; set; }
    [Parameter] public required string Text { get; set; }
    [Parameter] public required string IconClass { get; set; }

    private bool IsActive => Navigation.ToBaseRelativePath(Navigation.Uri).Equals(Url.TrimStart('/'), StringComparison.OrdinalIgnoreCase);
}
