@page "/app/employee-type/create"

@rendermode InteractiveServer
@inject HttpClient Http

@using TimeManager.Frontend.Components.Shared
@using TimeManager.Frontend.Components.Wrapper

<PageTitle>Employee Type - Add</PageTitle>

<FormWrapper Title="Create Employee Type"
             Subtitle="Add employee type to the system"
             BackUrl="/app/employee-type"
             FormName="EmployeeTypeAddForm"
             Model="@employeeType"
             OnSubmit="HandleSubmit"
             OnCancel="Cancel"
             Loading="@isLoading">
    @if (!String.IsNullOrEmpty(message))
    {
        <span class="text-green-500">@message</span>
    }
    @if (!String.IsNullOrEmpty(errorMessage))
    {
        <span class="text-red-500">@errorMessage</span>
    }
    <Input @bind-Value="employeeType.Name" Name="Name" Label="Name" Placeholder="Give the device a name" />
    <Input @bind-Value="employeeType.Description" Required="false" Name="Description" Label="Description" Placeholder="Give it a descriptive info" />
</FormWrapper>

@code {
    private string message = "";
    private string errorMessage = "";
    private bool isLoading = false;
    private EmployeeTypeModel employeeType = new();

    private async Task HandleSubmit()
    {
        isLoading = true;
        message = "";
        errorMessage = "";

        try
        {
            HttpResponseMessage responseMessage = await Http.PostAsJsonAsync("api/employeetype", employeeType);

            if (responseMessage.IsSuccessStatusCode)
            {
                message = "Sucessfully created the employee type";
            }
            else
            {
                var problemDetails = await responseMessage.Content.ReadFromJsonAsync<System.Text.Json.Nodes.JsonObject>();
                errorMessage = problemDetails?["detail"]?.ToString() ?? "An unexpected error occured";
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            errorMessage = ex.Message;
            // errorMessage = "Exeption occured";
        }
        finally
        {
            isLoading = false;
        }
    }

    private Task Cancel()
    {
        return Task.CompletedTask;
    }
}
