@inherits LayoutComponentBase
@using TimeManager.Frontend.Components.Pages.Admin._Components

<main class="main layout-main">
    <Sidebar />
    <div class="layout-section">
        <header class="header">NavBar</header>
        <section class="main-section">
            @Body
        </section>
    </div>
</main>

@code {

}
