@page
@model TimeManager.Backend.Pages.App.Department.IndexModel
@using TimeManager.Backend.Models.Components

@{
    Layout = "_ListWrapper";
    ViewData["Title"] = "Department";

    List<string> Headers = ["Name", "Description"];
    ViewData["Headers"] = Headers;
    ViewData["ModuleTitle"] = "Department";
    ViewData["ModuleDesc"] = "Manage the department data in the system";
    ViewData["CreateUrl"] = "department/add";
}

@if (Model.Departments.Count() <= 0)
{
    <tr>
        <td colspan="@Headers.Count"
            class="table-empty-cell">
            No data available
        </td>
    </tr>
}
else
{
    foreach (var d in Model.Departments)
    {
        <tr class="table-row">
            <td class="table-cell">@d.Name</td>
            <td class="table-cell table-desc">@d.Description</td>
            <td class="table-cell flex">
                @await Html.PartialAsync("ActionTd", new ActionTdViewModel
{
            EditUrl = "#",
            DeleteUrl = "#"
})
            </td>
        </tr>
    }
}