@model TimeManager.Backend.ViewModels.LoginViewModel

@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Login";

    // bool isLoading = false;
    // LoginModel loginDto = new();
}

@section scripts {
    <script src="/js/passwordtoggle.js" defer></script>
}

<style>
    .login-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: #e5e7eb;
    }

    .form-title {
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 800;
        letter-spacing: -0.025em;
        color: #111827;
    }

    .form-subtitle {
        margin-top: 0.5rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #4b5563;
    }

    .form-wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 28rem;
    }

    .form-wrapper.mt-8 {
        margin-top: 2rem;
    }

    .form-card {
        background-color: #ffffff;
        padding: 2rem;
        border: 1px solid #f3f4f6;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    }

    .btn-login {
        padding-block: .75em;
    }

    .error-alert {
        background-color: #fef2f2;
        border-left: 4px solid #f87171;
        padding: 1rem;
        border-radius: 0.25rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #b91c1c;
    }

    .error-alert > ul {
        list-style: none;
        padding: 0;
    }

</style>

<div class="login-container">
    <div class="form-wrapper">
        <h2 class="form-title text-center">
            Welcome back
        </h2>
        <p class="form-subtitle text-center">
            Please sign in to your account
        </p>
    </div>

    <div class="mt-8 form-wrapper">
        <div class="form-card">
            <form class="space-y-6" asp-controller="Auth" asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="error-alert" role="alert"></div>

                <custom-input asp-for="UserName" />
                <custom-input asp-for="Password" />

                @* <custom-input asp-for="RememberMe" /> *@

                @await Html.PartialAsync("Button", new TimeManager.Backend.ViewModels.PartialViews.ButtonViewModel
                {
                    Id = "login-submit",
                    Type = "submit",
                    Classes = "btn-login w-100",
                    Text = "Log in"
                })
            </form>
            </<div>
        </div>
    </div>
    </div>
</div>