@page "/app/unit/create"

@rendermode InteractiveServer

@inject HttpClient Http

@using TimeManager.Frontend.Components.Shared
@using TimeManager.Frontend.Components.Wrapper
@using TimeManager.Frontend.Components.Pages.Admin.Organization.Department

<PageTitle>Create Unit</PageTitle>

<FormWrapper 
    Title="Unit"
    Subtitle="Add new unit to the system"
    BackUrl="/app/unit"
    Model="@unitModel"
    FormName="UnitAddForm"
    OnSubmit="HandleSubmit"
    OnCancel="Cancel"
>
    <Input @bind-Value="unitModel.Name" Label="Name" Name="Name" Placeholder="Enter a name" />
    <Input TValue="int" @bind-Value="unitModel.Index" Label="Index" Type="number" Name="Index" Placeholder="Enter an index" />
    <Select 
        Name="DepartmentId"
        TValue="int"
        Label="Department"
        Placeholder="Choose a department"
        @bind-Value="unitModel.DepartmentId"
        >
        @foreach(var d in departments)
        {
            <option value="@d.Id">@d.Name</option>
        }
    </Select>
    <Input @bind-Value="unitModel.Description" Label="Description" Name="Description" Placeholder="Enter a descrption" Required="false" />
</FormWrapper>

@code {
    private UnitModel unitModel = new();
    private DepartmentModel[] departments = [];

    protected override async Task OnInitializedAsync()
    {
        try
        {
            departments = await Http.GetFromJsonAsync<DepartmentModel[]>("api/department");
            unitModel.DepartmentId = departments[0].Id;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    private async Task<string> HandleSubmit()
    {
       try
        {
            HttpResponseMessage res = await Http.PostAsJsonAsync("api/unit", unitModel);

            if (res.IsSuccessStatusCode)
            {
                return "";
            }
            else
            {
                var problemDetails = await res.Content.ReadFromJsonAsync<System.Text.Json.Nodes.JsonObject>();
                return problemDetails?["detail"]?.ToString() ?? "An error occured while saving.";
            }
        } catch (Exception ex)
        {
            Console.WriteLine(ex);
            return ex.Message;
        } 
    }

    private Task Cancel()
    {
        Console.WriteLine("Cancelling...");
        return Task.CompletedTask;
    }
}
