@page "/app/unit"

@inject HttpClient Http

@using TimeManager.Frontend.Components.Pages.Admin._Components
@using TimeManager.Frontend.Components.Wrapper

<PageTitle>Unit</PageTitle>

<ListWrapper 
    Title="Unit"
    Subtitle="Manage the units"
    Headers="@headers"
    CreateUrl="/app/unit/create"
    isEmpty="isEmpty"
>
    @foreach (var data in unitModels)
    {
        var currentId = data.Id;
        <tr>
            <td class="px-6 py-4 text-left">@data.Name</td>
            <td class="px-6 py-4">@data.Index</td>
            <td class="px-6 py-4">@data.Department?.Name</td>
            <ActionTD 
                Url="/app/unit/edit/1"
             />
        </tr>
    }

</ListWrapper>

@code {
    private string[] headers { get; set; } = ["Name", "Index", "Department"];
    private UnitModel[] unitModels = [];

    protected override async Task OnInitializedAsync()
    {
        try
        {
            unitModels = await Http.GetFromJsonAsync<UnitModel[]>("/api/unit");
        } catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    private bool isEmpty => unitModels.Length == 0;
}
