@model TimeManager.Backend.ViewModels.RoleViewModel

@{
    Layout = "_FormWrapper";
    ViewData["Title"] = "Role - Add";
    ViewData["ModuleTitle"] = "Create Role";
    ViewData["ModuleSubtitle"] = "Add new role";
    ViewData["Controller"] = "Role";
}

<form asp-controller="Role" asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <custom-input asp-for="Name" />
    <custom-input asp-for="Description" />

    <button type="submit" class="btn btn-primary">Submit</button>
</form>