@using TimeManager.Backend.ViewModels.PartialViews
@using TimeManager.Backend.ViewModels
@model IEnumerable<RoleViewModel>

@{
    Layout = "_ListWrapper";
    ViewData["Title"] = "Role";

    List<string> Headers = ["Name", "Description"];
    ViewData["Headers"] = Headers;
    ViewData["ModuleTitle"] = "Role";
    ViewData["ModuleDesc"] = "Manage the roles in the system";
    ViewData["Controller"] = "Role";
}

@if (Model.Count() <= 0)
{
    <tr>
        <td colspan="@Headers.Count"
            class="table-empty-cell">
            No data available
        </td>
    </tr>
}
else
{
    foreach (var d in Model)
    {
        <tr class="table-row">
            <sn-cell counter-name="Roles" start="0" />
            <td class="table-cell">@d.Name</td>
            <td class="table-cell table-desc">@d.Description</td>
            @await Html.PartialAsync("ActionTd", new ActionTdViewModel
            {
                Controller = "Role",
                Id = d.Id,
            })
        </tr>
    }
}