@using TimeManager.Backend.Models.Responses
@using TimeManager.Backend.ViewModels
@model PagedResponse<PayPeriodViewModel>

@{
    Layout = "_ListWrapper";
    ViewData["Title"] = "Pay Period";

    List<string> Headers = ["Start Date", "End Date"];
    List<string> OrderingKeys = [];
    ViewData["Headers"] = Headers;
    ViewData["ModuleTitle"] = "Pay Period";
    ViewData["ModuleDesc"] = "Manage the pay periods in the system";
    ViewData["HasAction"] = "false";
    ViewData["Controller"] = "PayPeriod";
    ViewData["HasCreate"] = false;

    ViewData["HasPagination"] = true;
    ViewData["OrderingKeys"] = OrderingKeys;
    ViewData["TotalPages"] = Model.TotalPages;
    ViewData["TotalRecords"] = Model.TotalRecords;
}

@if (Model.Data.Count() <= 0)
{
    <tr>
        <td colspan="@Headers.Count"
            class="table-empty-cell">
            No data available
        </td>
    </tr>
}
else
{
    foreach (var d in Model.Data)
    {
        <tr class="table-row">
            <td class="table-cell">@d.StartDate</td>
            <td class="table-cell table-desc">@d.EndDate</td>
        </tr>
    }
}

@section CustomCreate {
    <form asp-action="Generate" asp-controller="PayPeriod" method="post">
    @await Html.PartialAsync("Button", new TimeManager.Backend.ViewModels.PartialViews.ButtonViewModel
    {
        Classes = "btn-create",
        Type = "submit",
        Text = "Generate Pay Periods"
    })
    </form>
}